appsettings.json
appsettings.Development.json
bin/
obj/
.vs/
*.user
*.suo
*.log
*.cache
*.pdb
*.dll
*.exe
*.db
*.sqlite
*.db-journal
*.env
.DS_Store
.idea/
.vscode/
node_modules/
.nuget/
*.nupkg
*.snk
*.publishsettings
*.userosscache
*.sln.docstates
Migrations/